<!DOCTYPE HTML>

<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/RazorPagesIntroduction.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <partial name="Shared/NavMenuPartial"></partial>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>Lucas Daniel</footer>

    @RenderSection("scripts", false)
</body>
</html>