<!DOCTYPE HTML>

<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <partial name="Shared/NavMenuPartial"></partial>
    </header>
    <main>
        @RenderBody()
    </main>    
</body>
</html>