@page "~/sobre"
@model RazorPagesIntroduction.Pages.AboutModel
@{
    ViewData["Title"] = "Sobre";
}

<body>
    <div>        
        <h1>Sobre</h1>        
    </div>

    @section scripts{
        <script src="js/site.js"></script>
    }
</body>